
// base clase
.font14{ font-size: 14px; }
.font15{ font-size: 15px; }
.font20{ font-size: 20px; }
.font24{ font-size: 24px; }

.textCenter{ text-align: center; }
.textLeft{ text-align: left; }
.textRight{ text-align: right; }

// MainPage style
.App{
    height: 100%;
    display: flex;
    flex-direction: column;
    .Header{
        height: 30px;
        line-height: 30px;
        ul{
            li{
                display: inline-block;
                width: 200px;
                text-align: center;
                border: 1px solid #CCC;
            }
        }
    }
    .HomePage{
        display: flex;
        height: 100%;
        div.area{
            flex: 1;
            border: 1px solid #CCC;
            position: relative;
            text-align: center;
            a{
                height: 100%;
                width: 100%;
                display: inline-block;
            }
            .name{
                margin-top: 10px;
            }
        }
        div.React_logo,
        div.ES6_logo,
        div.Electron_logo,
        div.MaterialUI_logo,
        div.ReactRouter_logo{
            // 居中
            width: 300px;
            height: 300px;
            margin: -150px 0 0 -150px;
            top: 50%;
            left: 50%;
            position: absolute;
            background-size: 300px 300px;//懒得弄图片了，改天再修正大小
        }
        .React_logo{
            background: url('images/React_logo.png') center center no-repeat;
        }
        .ES6_logo{
            background: url('./images/ES6_logo.png') center center no-repeat;
        }
        .Electron_logo{
            background: url('./images/Electron_logo.png') center center no-repeat;
        }
        .MaterialUI_logo{
            background: url('./images/MaterialUI_logo.png') center center no-repeat;
        }
        .ReactRouter_logo{
            background: url('./images/ReactRouter_logo.png') center center no-repeat;
        }
    }
}
